*{
    margin:0;
    padding: 0;
}
.container{
    width: 970px;
    padding: 30px;
}
/* formatting title */
.title{
    border: black solid 2px;
    background-color:rgb(247, 183, 230);
    text-align: center;
    height: 68px;
    border-radius: 15px;
}
#title-name{
    color: white;
    margin-top: 10px;
    margin-right: 30px;
    font-family: Chalkduster, fantasy;
}
/* formatting header /header image*/
.header{
    width: 970px;
    height: 32px;
    margin-bottom: 30px;
}
.header-image-h1{
    display: flex;
    margin: 10px;
}
.img-header{
    height:60px; 
    width: 60px;
    border-radius: 50%;
    margin: 1px;
}
#header-name{
    margin-top: 6px;
    margin-left: 5px;
    font-family: Chalkduster, fantasy;
    margin-right: 281px;
}
/* formatting searchbar and enter button */
.search{
    width: 320px;
    height: 27px;
    margin-top:10px;
    font-family: Chalkduster, fantasy;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
}
.enter{
    height: 31px;
    width: 50px;
    margin-top: 10px;
    font-family: Chalkduster, fantasy;
    color: white;
    background-color:rgb(247, 183, 230);
}
/* formatting navbar */
.navBar{
    display: flex;
    justify-content: space-between;
    width:800px;
    padding:19px;
    background-color: silver;
    margin-left: 72px;
    border-radius: 15px;
    border: black solid 2px;
}
.navBar-img-title-1{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 12px;
}
.img-navbar{
    border: 0px white solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: black solid 2px;
}
.navtext{
    margin-top: 5px;
}
/* formatting left box */
.box-left{
    width: 441px;
    height: 317px;
    background-color:rgb(247, 183, 230);
    border-radius: 15px;
    border: black solid 2px;
}
.img-left{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left:70px;
    margin-top:10px;

}